# {{ ansible_managed }}
APT::Periodic::Enable "{{ apt_periodic_enable }}";
APT::Periodic::BackupArchiveInterval "{{ apt_periodic_backupinterval }}";
APT::Periodic::BackupLevel "{{ apt_periodic_backuplevel }}";
APT::Periodic::MaxAge "{{ apt_periodic_maxage }}";
APT::Periodic::MinAge "{{ apt_periodic_minage }}";
APT::Periodic::MaxSize "{{ apt_periodic_maxsize }}";
APT::Periodic::Update-Package-Lists "{{ apt_periodic_update }}";
APT::Periodic::Download-Upgradeable-Packages "{{ apt_periodic_download }}";
APT::Periodic::Download-Upgradeable-Packages-Debdelta "{{ apt_periodic_debdelta }}";
APT::Periodic::Unattended-Upgrade "{{ apt_periodic_upgradeinterval }}";
APT::Periodic::AutocleanInterval "{{ apt_periodic_cleaninterval }}";
APT::Periodic::Verbose "{{ apt_periodic_verbose }}";
