# {{ ansible_managed }}
{% if apt_proxy_url is defined -%}
{% for url in apt_proxy_direct %}
Acquire::http:proxy::{{ url }} DIRECT;
{% endfor %}
Acquire::http::proxy "{{ apt_proxy_url }}";{%- else -%}
# Proxy not configured
{%- endif -%}
